body{
    background-image: url(images/pexels-pixabay-220118.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
   
}

#btn, #previousBtn,#playAgain{
    background-color: #d687d2;
    border: none;
    border-radius: 5px;

}
#inner-div{
    background-color: rgba(127, 255, 212, 0.582);
    border-radius: 10px;
}
.text{
    font-weight: bold;
    color:#f0c92d;
    font-size: 20px;
    
}